body {
    background-color: darkslateblue;
}

.holder {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQOEvjAJCgLHHRmIzUxTme54cqEgjnlQFhtWxqhBVOT5N87VZw");
    width: 50%;
    margin: 0 auto;
    border: solid;
    border-color: black;
    text-align: center;
}

#wrapper {
    display: inline-block;
}

button {
    background-color: darkslateblue;
    width: 50px;
    height: 40px;
}

#leftBottom {
    position: relative;
    float: left;
    clear: left;
}

#rightBottom {
    position: relative;
    float: right;
}

#leftMiddle {
    position: relative;
    float: left;
}

#rightMiddle {
    position: relative;
    float: right;
    clear: right;
}